.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $color-5;
  color: $color-1;
  max-height: 150px;

  li {
    list-style: none;
  }

  .logo {
    max-width: 150px;
  }
}

.connexion {

  ul {
    width: 60%;
  }

  width: 40%;
  display: flex;
  align-self: flex-end;

  .connexion-div {
    display: flex;

    label {
      width: 45%;
      margin-right: 5%;
    }

    input {
      width: 55%;
    }

  }
  .button-connexion {
    height: 60%;
    display: flex;
    align-self: center;
    margin: auto;
  }
}

.navigation {
  width: 60%;
  display: flex;

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    li {
      padding: 5px;

      a {
        text-decoration: none;
        color: $color-1;
        font-size: 18px;
        position: relative;
        font-weight: bold;
      }
    }

    .deposit {
    
      a {
        color: $color-5
      }
    }

    .nav-active {
      &::after {
        content: '';
        width: 95%;
        height: 5px;
        background-color: $color-1;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
