@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

$font-1: "Poppins", sans-serif;

// $color-1: #61dafb;
// $color-2: #f7f7f7;
// $color-3: #282c34;
// $color-4: rgb(32, 35, 42);
// $color-5: #2f4063;

$color-1: #1CBBB4;
$color-2: #ffffb6;
$color-3: #F5989D;
$color-4: rgb(32, 35, 42);
$color-5: #2f4063;

body {
  font-family: $font-1;
  color: $color-5;
  background-color: $color-1;
  font-size: 14px;
  margin: 0;
} 